::before, ::after{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #1F2933;
    background: #F4F7FB;
}

header {
    background: #123C69;
    padding: 24px;
    color: #FFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;
}

header h1 { 
    font-size: 2rem;
    margin: 0;
}

nav a {
    color: #FFFF;
    margin-right: 20px;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 14px;

}

section{
    margin-bottom: 3rem;
}

.weekend_day{
    padding: 16px;
    border-radius: 20px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 15px;
    background: #EAF2F8;
    color: #1F2933;
}

.temperature_huminity{
    font-family: Arial, sans-serif;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 700;
}

.temperature_huminity.warm {
    color: #9A4D00;
}

/*
Теплі температури позначені помаранчевим кольором, який асоціюється з теплом.
Холодніші температури позначені синім кольором, що асоціюється з прохолодою.
Такі акцентні кольори допомагають швидше візуально оцінити температуру.
Це робить погодний дашборд більш зрозумілим для користувача.
*/

.temperature_huminity.cold {
    color: #1F5A94;
}

footer{
    font-size: 1rem;
    padding: 16px;
    color: #FFFF;
    background: #123C69;
    text-align: center;
}

.cards{
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

#current {
    background: #1F4E79;
    color: white;
    padding: 20px;
    border-radius: 16px;
}

#current-weather {
    font-size: 36px;
    font-weight: 700;
    color: #FFD166;
}

@media (min-width: 600px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1024px) {
    .cards {
        grid-template-columns: repeat(7, 1fr);
    }

    main {
        max-width: 1200px;
    }

    .current-layout{
        display: flex;
        gap: 20px;
    }
}

img{
    max-width: 100%;
    height: auto;
}